* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 85%;
    height: 100%;
    z-index: -1;
    border-radius: 0px 80px 80px 0px;
}

.main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding-right: 100px;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
}

.login-content {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ebebeb;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.img img {
    width: 500px;
}

form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.id {
    margin-top: 50px;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #5e5e5e;
    font-size: 15px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #FF5E01;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: #FF5E01;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.signup {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 5px;
}

.signup h1 {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
}

.signup a {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: #707070;
    font-size: 0.9rem;
    transition: .3s;
}

.signup a:hover {
    color: #FF5E01;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #ff8742, #ff6b01, #ff8742);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
    color: white;
}

@media screen and (max-width: 1050px) {
    .main {
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }
    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
    }
    .img {
        display: none;
    }
    .wave {
        display: none;
    }
    .login-content {
        justify-content: center;
    }
}