* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: auto;
}

#sidebar {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    background: rgb(255, 186, 76);
    color: #fff;
    transition: all 0.3s;
    position: relative;
}

#sidebar .h6 {
    color: #fff;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar.active .custom-menu {
    margin-right: -50px;
}

#sidebar.active .btn.btn-primary:before {
    content: "\f054";
    font-family: "FontAwesome";
    left: 2px !important;
}

#sidebar.active .btn.btn-primary:after {
    display: none;
}

#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

#sidebar h1 .logo {
    color: #fff;
    display: block;
    padding: 10px 30px;
    background: #2f89fc;
}

#sidebar ul.components {
    padding: 0;
    display: flex;
    flex-direction: column;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: #32373d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#sidebar ul li a span.notif {
    position: relative;
}

#sidebar ul li a span.notif small {
    position: absolute;
    top: -3px;
    bottom: 0;
    right: -3px;
    width: 12px;
    height: 12px;
    content: '';
    border-radius: 50%;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 8px;
}

#sidebar ul li a:hover {
    color: #fff;
    background: rgb(253, 179, 58);
}

#sidebar ul li:last-of-type a:hover {
    color: red;
    background: rgb(253, 179, 58);
}

#sidebar ul li.active>a {
    background: rgb(253, 170, 37);
    color: #32373d;
}

#sidebar ul li.active>a:hover {
    color: #fff;
    background: rgb(253, 179, 58);
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebar .custom-menu {
        margin-right: -60px !important;
        top: 10px !important;
    }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 0;
    margin-right: -50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn.btn-primary {
    border-color: transparent;
    position: relative;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to right, #fb7d33, #ff6b01, #fb7d33);
    background-size: 200%;
    transition: .5s;
}

.btn.btn-primary:hover {
    background-position: right;
}

.btn.btn-primary:focus,
.btn.btn-primary:active {
    outline: none !important;
    box-shadow: none !important;
}

#sidebar .custom-menu .btn.btn-primary:after,
#sidebar .custom-menu .btn.btn-primary:before {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "FontAwesome";
    color: #fff;
}

#sidebar .custom-menu .btn.btn-primary:after {
    content: "\f053";
    right: 2px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    padding: 40px 0px 40px 20px;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.sidebar-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sidebar-header h6 {
    margin-top: 15px;
    margin-left: 15px;
    color: #353535;
    font-size: x-large;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

.components li {
    width: 100%;
}

.components li a {
    justify-content: flex-start;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.components li a.active {
    background: rgb(253, 170, 37);
}

.components li a:hover {
    background: rgb(253, 179, 58);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

.components li a h1 {
    font-size: 16px;
    padding-left: 40px;
    margin-top: 10px;
}

.components li a i {
    float: left;
    margin-left: 12px;
    margin-top: -26px;
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.content {
    width: 100%;
    margin-top: 50px;
}

.itens {
    display: flex;
    flex-direction: row;
    float: right;
    width: 90%;
}

.caminho {
    width: 50%;
}

.caminho h2 {
    margin-left: -30px;
    font-size: medium;
    color: #959595;
}

.busca {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -10px;
    margin-right: 4.8%;
    position: relative;
}

.busca input[type="text"] {
    padding-left: 10px;
    border: 1px solid #838383;
    background-color: initial;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
}

.busca input:focus {
    background-color: #f0f0f0;
    border: 2px solid #838383;
}

.busca i {
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    color: #838383;
}

.produtos {
    float: right;
    margin: 30px 4% 30px 0px;
    background-color: white;
    padding: 10px 30px 20px 30px;
    width: 89%;
    height: 64%;
    overflow: auto;
}

.table-produtos {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table-produtos tr {
    border-bottom: 1px solid #979797;
    color: black;
    height: 48px;
}

.table-produtos tr th {
    color: gray;
    padding-left: 19px;
    padding-right: 19px;
    height: 70px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    width: 16%;
}

.table-produtos tr td {
    padding-left: 19px;
    padding-right: 19px;
    height: 48px;
    text-align: left;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 16%;
}

.form-check {
    padding-top: 20px;
}

.table-produtos tr td:last-of-type i:first-of-type {
    margin-right: 15%;
}

.table-produtos tr td:last-of-type i:first-of-type:hover {
    color: hotpink;
    cursor: pointer;
}

.table-produtos tr td:last-of-type i:last-of-type:hover {
    color: green;
    cursor: pointer;
}

.cadastro {
    width: 100%;
}

#btn {
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 4%;
    position: relative;
    border-color: transparent;
    background-image: linear-gradient(to right, #fb7d33, #ff6b01, #fb7d33);
    background-size: 200%;
    transition: .5s;
}

#btn:hover {
    background-position: right;
}

#btn:focus,
#btn:active {
    outline: none !important;
    box-shadow: none !important;
}

@media(maz-width:768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0px;
    }
    #sidebarCollapse span {
        display: none;
    }
}